@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: "Righteous", cursive, "Pontano Sans", sans-serif -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Homepage {
  background: url("/src/assets/img/background/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.textbutton {
  font-family: "Pontano Sans", sans-serif !important ;
}

.counting {
  font-family: "Righteous", cursive !important;
}

.SpaceAnimationFrist {
  animation: SpaceShipFrist 9s ease 0s normal forwards;
  z-index: 12;
}

@keyframes SpaceShipFrist {
  0% {
    animation-timing-function: ease-in;

    transform: translateY(80rem) scale(0.6);
  }
  80% {
    animation-timing-function: ease-in;

    transform: translateY(200px);
  }
  100% {
    animation-timing-function: ease-out;

    transform: translateY(100px);
  }
}

.SpaceAnimation {
  animation: SpaceShip 70s ease-in-out 9s infinite normal backwards;
}

@keyframes SpaceShip {
  0% {
    animation-timing-function: ease-in;
    transform: translateY(200px);
  }
  20% {
    animation-timing-function: ease;
    opacity: 1;
    transform: translateY(150px) translateX(-80px);
  }
  40% {
    animation-timing-function: ease;
    opacity: 1;
    transform: translateY(200px) translateX(-60px);
  }
  60% {
    animation-timing-function: ease;
    opacity: 1;
    transform: translateY(150px) translateX(20px);
  }
  80% {
    animation-timing-function: ease;
    opacity: 1;
    transform: translateY(50px) translateX(20px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(200px);
  }
}

.MoonAnimation {
  animation: MoonAnimation 80s ease 0s infinite normal forwards;
}

@keyframes MoonAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: ease-in;
    opacity: 0.9;
    transform: translateY(105px) translateX(-80px) scale(0.95);
  }
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0px);
  }
}

.PopUPAnimation {
  animation: PopUPAnimation 7s ease 0s normal forwards;
}

@keyframes PopUPAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    /* transform: translateY(0px); */
  }
  50% {
    animation-timing-function: ease-in;
    opacity: 0.5;
    /* transform: translateY(85px) translateX(-80px) scale(0.95); */
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 1;
    /* transform: translateY(0px); */
  }
}

.PopUPAnimationNumber {
  animation: PopUPAnimationNumber 2s ease 0s normal forwards;
}

@keyframes PopUPAnimationNumber {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(200px) scale(0.3);
  }
  50% {
    animation-timing-function: ease-in;
    opacity: 0.1;
    transform: scale(0.8);
    /* transform: translateY(85px) translateX(-80px) scale(0.95); */
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: scale(1);
    /* transform: translateY(0px); */
  }
}
