@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: "Righteous", cursive, "Pontano Sans", sans-serif -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Homepage {
  background: url("/src/assets/img/background/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.textbutton {
  font-family: "Pontano Sans", sans-serif !important ;
}

.counting {
  font-family: "Righteous", cursive !important;
}

.SpaceAnimation {
  animation: SpaceShip 8s ease 0s infinite normal forwards;
}

@keyframes SpaceShip {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-25px) translateX(-20px);
  }
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0px);
  }
}

.MoonAnimation {
  animation: MoonAnimation 80s ease 0s infinite normal forwards;
}

@keyframes MoonAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    animation-timing-function: ease-in;
    opacity: 0.9;
    transform: translateY(105px) translateX(-80px) scale(0.95) rotate(-30deg);
  }
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(0px);
  }
}

.PopUPAnimation {
  animation: PopUPAnimation 7s ease 0s normal forwards;
}

@keyframes PopUPAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    /* transform: translateY(0px); */
  }
  50% {
    animation-timing-function: ease-in;
    opacity: 0.5;
    /* transform: translateY(85px) translateX(-80px) scale(0.95); */
  }
  100% {
    animation-timing-function: ease-in;
    opacity: 1;
    /* transform: translateY(0px); */
  }
}
