@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;

  font-family: "Righteous", cursive, "Pontano Sans", sans-serif -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Homepage {
  background: url("/src/assets/img/background/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.textbutton {
  font-family: "Pontano Sans", sans-serif !important ;
}

.counting {
  font-family: "Righteous", cursive !important;
}
